<form ng-submit="submit()" autocomplete="off" ng-controller="PageEditionCtrl" name="Form" class="wh-cms">

    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-2">

            <h3 class="page-header mt0 mb0"><span style="visibility: hidden">Menu : </span></h3>


            <div class="list-group" ng-init="navPage = 'page'">
                <a class="list-group-item" ng-class="{'active' : navPage == 'page'}" ng-click="navPage = 'page'">La page</a>
                <a class="list-group-item" ng-class="{'active' : navPage == 'ref'}" ng-click="navPage = 'ref'">Le référencement</a>
                <a class="list-group-item" ng-class="{'active' : navPage == 'tech'}" ng-click="navPage = 'tech'">Infos techniques</a>
                <a class="list-group-item" ng-href="{{data.Page.url}}" ng-show="data.Page.url" target="_blank">Voir la page</a>
            </div>

        </div>

        <div class="col-md-7">

            <div ng-controller="ModuleCtrl" ng-show="navPage == 'page'">

                <h3 class="page-header mt0">La page</h3>

                <fieldset>
                    <ol class="breadcrumb mt0 mb">
                        <li><a href="#/app/pages/index/">Racine</a></li>
                        <li ng-repeat="Chemin in data.Chemin track by Chemin.Page.id"><a href="#/app/pages/index/{{Chemin.Page.id}}">{{Chemin.Page.name}}</a></li>
                    </ol>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Titre de votre page" ng-model="data.Page.h1" tooltip="Soyez explicite sur le titre de la page" required>
                        <span class="help-block">Attention, le titre doit contenir plus de 3 caractères.</span>
                    </div>

                    <div class="form-group">
                        <label for="">Sous titre</label>
                        <input type="text" class="form-control" placeholder="Sous titre" ng-model="data.Page.sous_titre">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" placeholder="Contenu" ng-model="data.Page.body" redactor></textarea>
                    </div>


                </fieldset>




                <fieldset>

                    <label for="">Ajouter un bloc de contenu</label>

                    <div class="btn-group btn-group-justified" role="group" ng-include="'app_admin/views/elements/cms/bloc-menu.html'"></div>

                </fieldset>

                <div ui-sortable="moduleSortableOptions" ng-model="data.Contents">
                    <div ng-repeat="C in data.Contents track by $index" id="portlet-{{$index}}" portlet="portlet" class="bloc-{{C.ContentModule.params.module}}">
                        <ng-include src="Modules[C.ContentModule.module].params.bloc_url"></ng-include>
                    </div>
                </div>
            </div>

            <ng-include src="'app_admin/views/pages/inc-ref.html'" ng-show="navPage == 'ref'"></ng-include>
            <ng-include src="'app_admin/views/pages/inc-tech.html'" ng-show="navPage == 'tech'"></ng-include>
        </div>

        <div class="col-md-3">

            <h3 class="page-header mt0">Paramètres</h3>

            <div id="panelPublication" class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-save"></i> Publication </div>
                <div class="panel-body">

                    <whform label="Nom court : " ng-model="data.Page.name" placeholder="Nom court" tooltip="Si le titre est trop long dans les menus, indiquez ici un titre plus court"></whform>
                    <whform label="Page parente : " ng-model="data.Page.parent_id" options="Parents" empty="Racine du site" obj="true"></whform>
                    <whform label="Type de page : " ng-model="data.Page.template" options="Templates" empty="Page normale" obj="true"></whform>
                    <whform label="Menu : " ng-model="data.Page.menu_id" options="Menus"></whform>
                    <whform label="Résumé : " ng-model="data.Page.resume" tag="textarea"></whform>
                    <whform label="Email : " ng-model="data.Page.email" ng-show="data.Page.template == 'contact'" ></whform>

                    <hr/>

                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="data.Page.etat_id" name="data[Page][etat_id]" value="publish" require /> Publier
                            immédiatemment
                        </label>
                    </div>
                    <div class="radio">
                        <label class="text-danger">
                            <input type="radio" ng-model="data.Page.etat_id" name="data[Page][etat_id]" value="draft" require  />
                            Enregistrer en brouillon
                        </label>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-right"><button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i class=""></i>
                            Enregistrer</button></div>
                    </div>
                </div>

            </div>

            <div id="panelVignette" class="panel panel-info" ng-controller="FileManagerController" tooltip="Il s’agit de l’image minigature utilisée dans le menu haut">
                <div class="panel-heading" >
                    <i class="fa fa-picture-o"></i> Vignette
                </div>
                <div collapse="panelVignette" class="panel-wrapper">
                    <div class="panel-body">
                        <img ng-src="{{WH_ROOT}}{{data.Page.vignette.File.url}}" alt="" ng-show="data.Page.vignette" style="width:100%;max-width:100%;" />
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-sm btn-danger" ng-click="data.Page.vignette = false" ng-show="data.Page.vignette"><i class="fa fa-trash-o"></i> Supprimer</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Page.vignette', 1)"><i class="fa fa-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panelIcone" class="panel panel-info" ng-controller="FileManagerController" ng-show="data.Page.template == 'metier'" >
                <div class="panel-heading" >
                    <i class="fa fa-picture-o"></i> Icône
                </div>
                <div collapse="panelVignette" class="panel-wrapper">
                    <div class="panel-body">
                        <img ng-src="{{WH_ROOT}}{{data.Page.icon.File.url}}" alt="" ng-show="data.Page.icon" style="width:100%;max-width:100%;" />
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-sm btn-danger" ng-click="data.Page.icon = false" ng-show="data.Page.icon"><i class="fa fa-trash-o"></i> Supprimer</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Page.icon', 1)"><i class="fa fa-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

