<h3 class="page-header mt0">Informations techniques</h3>

<div class="panel panel-info">

    <div class="panel-body">

        <whform ng-model="data.Page.slug" label="Nom court pour url" legende="Sans espace, ni tiret, ni accent"></whform>
        <whform ng-model="data.Page.url_r" label="Url de redirection" legende="Pour rediriger vers une page extérieur ou une autre page du site web"></whform>
        <whform ng-model="data.Page.icone" label="Icone" legende="Rendez vous sur fontaesome pour choisir l’icone appriorié, puis copiez / collez celle-ci dans le champ"></whform>
        <a href="http://fortawesome.github.io/Font-Awesome/icons/">Icones</a>

    </div>

</div>