<div ng-controller="PagesIndexCtrl">

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a href="#/app/pages/parent/{{Page.Page.id}}" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer une nouvelle page</a>
                <a href="#/app/pages/edit/{{Page.Page.id}}" class="btn btn-primary btn-xs" ng-show="Page.Page.id"><i class="fa fa-edit"></i> Modifier cette page</a>
                <a ng-href="{{Page.Page.url}}" class="btn btn-warning btn-xs" ng-show="Page.Page.url" target="_blank"><i class="fa fa-eye"></i> Voir la page</a>

        </div>
        <span ng-show="!Page.Page.name">Racine de votre site web</span>
        <span ng-show="Page.Page.name">{{Page.Page.name}}</span>
    </h3>

    <ol class="breadcrumb mt0 mb">
        <li>> <a href="#/app/pages/index/">Racine</a></li>
        <li ng-repeat="Chemin in Page.Chemin track by Chemin.Page.id"><a href="#/app/pages/index/{{Chemin.Page.id}}">{{Chemin.Page.name}}</a></li>
    </ol>

    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">Arborescence</div>

                <div class="panel-body tree">

                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div nodrag ng-class="{'active' : node.Page.id == Page.Page.id}">

                            <a nodrag ng-click="toggle(this)" class="btn btn-xs" ng-class="{'btn-success' : node.Page.id == Page.Page.id, 'btn-default' : node.Page.id != Page.Page.id}">
                                <i class="fa" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                            </a>

                            <a nodrag class="item" href="#/app/pages/index/{{node.Page.id}}">{{node.Page.name}}</a>
                        </div>

                        <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                        </ol>

                    </script>
                    <div ui-tree id="tree-root">
                        <ol ui-tree-nodes="" ng-model="data">
                            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="panel panel-info">

                <div class="panel-heading">
                    <span ng-show="!Page.Page.id">Liste des pages de votre site web</span>
                    <span ng-show="Page.Page.id">Liste des pages enfants (Pages présente dans "<strong><i>{{Page.Page.name}}</i></strong>")</span>

                </div>

                <div class="table-responsive" ng-show="Page.Childrens">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th></th>
                            <th></th>
                            <th>Nom de la page</th>
                            <th>Date de publication</th>
                            <th class="text-right">Etat</th>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="Page.Childrens">
                        <tr ng-repeat="Children in Page.Childrens track by $index">
                            <td>
                                <a class="btn btn-primary btn-xs" href="#/app/pages/edit/{{Children.Page.id}}"><i class="fa fa-edit"></i> Modifier</a>
                                <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td>{{Children.Page.id}}</td>
                            <td><i class="icon-lock" ng-show="Children.Page.lock"></i></td>
                            <td>
                                <h4 class="mt0"><a href="#/app/pages/index/{{Children.Page.id}}">{{Children.Page.name}}</a></h4>
                                <p>Voir la page : <a href="{{Children.Page.url}}" target="_blank">{{Children.Page.url}}</a></p>
                            </td>
                            <td >{{Children.Page.publication_date | date:'dd/MM/yyyy'}}</td>
                            <td class="text-right"><div class="label label-{{Children.Etat.class}}">{{Children.Etat.name}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body text-center" ng-hide="Page.Childrens">
                    Il n'y a actuellement pas de page enfant(s) dans "<strong><i>{{Page.Page.name}}</i></strong>", <a href="#/app/pages/parent/{{Page.Page.id}}">souhaitez vous en créer une</a> ?
                </div>

            </div>

        </div>

    </div>
</div>