<div ng-controller="MailboxComposeController">
    <div class="clearfix mb">
        <div class="btn-group pull-left">
            <button type="button" ng-class="{'active':data.NewsletterCampaign.type == 'email'}"
                    ng-click="data.NewsletterCampaign.type = 'email'" href="#" class="btn btn-default btn-sm">EMAIL
            </button>
            <button type="button" ng-class="{'active':data.NewsletterCampaign.type == 'sms'}"
                    ng-click="data.NewsletterCampaign.type = 'sms'" href="#" class="btn btn-default btn-sm">SMS
            </button>
        </div>
    </div>
    <!-- END action buttons-->
    <!-- START Mails-->
    <div class="panel panel-default">
        <form role="form-horizontal">

        <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group form-group">
                            <span class="input-group-addon text-sm">De  :</span>
                            <input type="text" class="form-control" ng-model="data.NewsletterCampaign.default_from_name"
                                   disabled="true"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group form-group" ng-if="data.NewsletterCampaign.type == 'email'">
                            <span class="input-group-addon text-sm">Email  :</span>
                            <input type="text" class="form-control"
                                   ng-model="data.NewsletterCampaign.default_from_email" disabled="true"/>
                        </div>

                        <div class="input-group form-group" ng-if="data.NewsletterCampaign.type == 'sms'">
                            <span class="input-group-addon text-sm">Téléphone  :</span>
                            <input type="text" class="form-control"
                                   ng-model="data.NewsletterCampaign.default_from_telephone" disabled="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group form-group">
                            <span class="input-group-addon text-sm">Envoyer à  :</span>
                            <ui-select multiple ng-model="data.NewsletterCampaign.send_to" theme="bootstrap" ng-disabled="disabled">
                                <ui-select-match placeholder="Choisir la liste d'envoi"> {{ $item.name }} </ui-select-match>
                                <ui-select-choices repeat="ldapEntry in ldapData | filter: { name: $select.search }">
                                    <span ng-bind-html="ldapEntry.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group form-group">
                            <span class="input-group-addon text-sm">Sujet :</span>
                            <input type="text" class="form-control" ng-model="data.NewsletterCampaign.default_from_subject"/>
                        </div>
                        <ul class="parsley-errors-list filled" ng-show="error.NewsletterCampaign.default_from_subject[0]"><li>{{error.NewsletterCampaign.default_from_subject[0]}}</li></ul>
                    </div>
                </div>

                <div class="form-group">
                    <label>Pourquoi votre liste de diffusion reçoit-elle ce mail ?</label>
                    <textarea ng-model="data.NewsletterCampaign.how_on_list"
                              class="form-control {{tagClass}}" tabindex="{{tabindex}}"></textarea>
                </div>


                <div class="form-group" ng-show="data.NewsletterCampaign.type == 'email'">
                    <label>Votre message</label>
                    <textarea ng-model="data.NewsletterCampaign.mail_message" class="form-control" redactor></textarea>
                </div>

                <div class="form-group" ng-show="data.NewsletterCampaign.type == 'sms'">
                    <label>Votre sms</label>
                    <textarea ng-model="data.NewsletterCampaign.sms_message" placeholder="{{placeholder}}"
                              class="form-control {{tagClass}}" tabindex="{{tabindex}}"></textarea>
                    <span class="help-block">(160 caractères maximum)</span>
                </div>

                <div class="form-group">
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" ng-model="data.NewsletterCampaign.envoi_test" value="1">
                            <span class="fa fa-times"></span> Envoi test
                        </label>
                    </div>
                </div>
                <div class="input-group form-group" ng-show="data.NewsletterCampaign.envoi_test && data.NewsletterCampaign.type == 'email'">
                    <span class="input-group-addon text-sm">Email de test :</span>
                    <input type="text" class="form-control" ng-model="data.NewsletterCampaign.email_test"/>
                </div>

                <div class="input-group form-group" ng-show="data.NewsletterCampaign.envoi_test && data.NewsletterCampaign.type == 'sms'">
                    <span class="input-group-addon text-sm">Numéro de test :</span>
                    <input type="text" class="form-control" ng-model="data.NewsletterCampaign.phone_number_test"/>
                </div>

        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-danger btn-sm mb pull-left" ng-click="saveDraft();">Enregistrer en brouillon</button>
            <button type="button" class="btn btn-primary btn-sm mb" ng-click="envoyer();">Envoyer</button>
        </div>

        </form>

    </div>
    <div class="panel panel-info" ng-show="data.NewsletterCampaign.type == 'email'">

        <div class="panel-heading">
            Quelques règles pour éviter que votre message ne tombe dans les indésirables
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Evitez de mettre trop d'images dans votre mail : essayez dans la mesure du possible de
                            regrouper plusieurs petites images en une image plus grande. Le ratio images/texte doit être
                            équilibré, en effet un mail composé exclusivement d'images a toutes les chances d'être
                            considéré comme du spam. Pensez donc à accompagner vos images de texte en quantité
                            suffisante. De manière générale, mettez sous forme d'images les graphiques, photos, logos...
                            bref tout ce qui n'est pas textuel. La partie textuelle, quant à elle, doit être tapée en
                            véritable texte HTML. Enfin et surtout, n'incorporez pas vos images directement dans le
                            message, mais faites des liens vers des images hébergées sur le web. Vous en tirerez un
                            double bénéfice puisqu'en plus de mieux franchir les barrières anti-spam, vous allégez le
                            poids de votre message et augmentez du même coup la vitesse d'envoi !
                        </li>
                        <li>Bannissez bien évidemment les mots ou expressions à double sens qui pourraient prendre une
                            conotation sexuelle ou "médicamenteuse".
                            Evitez également les mots comme "Gratuit", "Promotion", "Promo", "Discount", "Offre",
                            "Soldes", "Cadeau"... ou certains caractères, tel que le point d'exclamation ou le point
                            d'interrogation dans le sujet du message. Pour connaître les caractères à éviter, vous
                            pouvez visiter le site de Microsoft pour Outlook.
                            Plus subtil, évitez de mettre vos liens hypertextes derrière des termes tels que "Cliquez
                            ici".
                        </li>
                        <li>Evitez tant que possible les fichiers en pièces jointes, surtout s'ils sont de type pdf et
                            d'autant plus si votre message contient peu de texte. A la place, déposez vos fichiers sur
                            un serveur web (ou sur votre espace de stockage OxiMailing) et mettez des liens de
                            téléchargement dans votre mail. En faisant cela, vous réduisez du même coup le poids du
                            message et donc augmentez la vitesse d'envoi. Et autre avantage non négligeable, vous saurez
                            grâce au tracking qui a téléchargé le fichier (alors qu'on ne peut pas savoir qui a ouvert
                            une pièce jointe). Voir : Comment envoyer un fichier aux destinataires de mon message sans
                            le mettre en pièce jointe ?
                        </li>
                        <li>L'utilisation de certains termes n'est pas le seul indice sur lequel les filtres anti-spam
                            se basent pour rejeter un e-mail. Ils prennent également en compte le format, comme la
                            taille de la police ou sa couleur. Ainsi, évitez d'écrire l'ensemble du message en police
                            égale ou supérieure à 16. De même, le rouge et le vert sont à proscrire.
                        </li>
                        <li>Ne mettez pas vos URL sous forme d'adresse IP, et évitez les URL contenant des pourcentages
                            et des dollars. Ne mettez pas non plus de lien tracké derrière une URL. Préférez une mention
                            du style "visitez notre site", ou bien mettez votre url sous forme d'image. Autre solution
                            encore meilleure : utilisez la fonction de personnalisation des url de tracking.
                        </li>
                    </ul>

                </div>

                <div class="col-md-6">

                    <ul>
                        <li>Indiquez dans votre message, idéalement au début, la manière dont vous avez collecté
                            l'adresse du destinataire. Par exemple : "Vous vous êtez abonnés à notre newsletter sur le
                            site www.mondomaine.com à telle date" ou bien "Vous recevez ce message car en tant que
                            partenaire de la société X, vous nous avez autorisé à vous envoyer des emails commerciaux
                            relatifs à la pêche à la ligne".
                            Ou encore "Vous recevez ce message car votre adresse email est publiée dans le fichier
                            X...".
                        </li>
                        <li>Pensez à bien qualifier votre fichier d'adresses et notamment à gérer soigneusement les NPAI
                            (N’Habite Pas A l’Adresse Indiquée) en les supprimant systématiquement de votre fichier
                            d'adresses. Il faut savoir en effet que plus vous envoyez de mails à destination d'adresses
                            inexistantes, plus vous augmentez vos chances d'être considéré comme un spammeur.
                        </li>
                        <li>A chaque envoi, faites en sorte que les domaines de vos destinataires soit le plus
                            diversifié possible : pour donner un exemple, évitez absolument une trop grande proportion
                            de destinataires aol ou hotmail, un nombre élevé de mails identiques concentré sur un même
                            domaine pouvant finir par provoquer un blocage ou un classement en spam. Si les domaines de
                            vos destinataires sont peu diversifiés, préférez dans ce cas un envoi en plusieurs fois, par
                            paquets plus petits et suffisamment espacés dans le temps. Sachez aussi qu'il existe des
                            programmes de "white-listage" chez la plupart des fournisseurs, qui vous permettront
                            d'arriver à un meilleur taux d'aboutissement. Oxemis est partenaire de Return Path et peut
                            donc vous proposer de faire certifier vos envois (en savoir plus sur Return Path).
                        </li>
                        <li>En adresses d'expéditeur, choisissez une adresse email associée à votre propre nom de
                            domaine, par exemple contact@mondomaine.com (remplacez mondomaine.com par votre véritable
                            nom de domaine, cela va de soi, et assurez-vous que cette adresse existe !). Bannissez
                            l'utilisation d'adresses hotmail, yahoo, aol, gmail ou tout autre domaine générique. En
                            effet, de plus en plus de filtres antispam vérifient qu'un mail envoyé avec une adresse
                            hotmail (par exemple) a bien été routé avec le serveur SMTP d'hotmail et classent le mail en
                            spam si tel n'est pas le cas. Enfin, et c'est très important, le WHOIS de votre nom de
                            domaine ne doit pas être anonyme.
                        </li>
                        <li> Sachez enfin qu'il peut arriver que, même en corrigeant les problèmes ci-dessus, vous
                            continuiez à recevoir le message en courrier indésirable. En effet, la plupart des filtres
                            antispam sont capables de détecter des envois multiples et finissent par classer votre
                            message en courrier indésirable simplement parcequ'un mail de la série a été auparavant
                            classé en spam... Autrement dit, la correction ne changera rien... pour vous. En effet ce
                            type de filtre est généralement appliqué sur une seule boîte, ce qui veut dire que vous
                            recevez le message en courrier indésirable alors que les autres destinataires le recevront
                            en boîte de réception. Seule solution, tester sur de multiples boîtes mails.
                        </li>
                    </ul>


                </div>

            </div>

        </div>

    </div>

</div>
<!-- START action buttons-->