<h3>Messagerie</h3>
<div class="table-grid">
   <div class="col col-md">
      <div class="pr">
         <div class="clearfix mb">
            <button type="button" class="btn btn-sm btn-default mb-toggle-button pull-right">
               <em class="fa fa-bars fa-fw fa-lg"></em>
            </button>
            <a ui-sref="app.mailbox.compose" class="btn btn-purple btn-sm mb-compose-button">
               <em class="fa fa-pencil"></em>
               <span>Ecrire</span>
            </a>
         </div>
         <!-- START mailbox list-->
         <div collapse="mailboxMenuCollapsed" class="mb-boxes">
            <div class="panel panel-default">
               <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
                     <li class="p">
                        <small class="text-muted">Mes messages</small>
                     </li>
                     <li ng-class="{'active' : Messages.type == 'email', 'noactive' :  Messages.type != 'email'}">
                        <a href="#/app/mailbox/inbox/email">
                           <span class="label label-primary pull-right">{{ Email.length }}</span>
                           <em class="icon-envelope fa-fw fa-lg"></em>
                           <span>Email</span>
                        </a>
                     </li>
                     <li ng-class="{'active' : Messages.type == 'sms', 'noactive' :  Messages.type != 'sms'}">
                        <a href="#/app/mailbox/inbox/sms">
                           <span class="label label-success pull-right">{{ Sms.length }}</span>
                           <em class="icon-bubbles fa-fw fa-lg"></em>
                           <span>Sms</span>
                        </a>
                     </li>
                     <li ng-class="{'active' : Messages.type == 'draft', 'noactive' :  Messages.type != 'draft'}">
                        <a href="#/app/mailbox/inbox/draft">
                           <span class="label label-danger pull-right">{{ Draft.length }}</span>
                           <em class="icon-pin fa-fw fa-lg"></em>
                           <span>Brouillon</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- END mailbox list-->
      </div>
   </div>
   <div ui-view="" class="col"></div>
</div>