<h3 class="page-header mt0">Référencement</h3>

<div class="panel panel-info">

    <div class="panel-body">

        <whform ng-model="data.Even.meta_title" label="Balise title"></whform>
        <whform ng-model="data.Even.meta_description" label="Balise meta description"></whform>

    </div>

</div>