<h3 class="page-header mt0">Les inscrits</h3>

<div class="panel panel-info">

    <div class="panel-heading">
        <a class="btn btn-default btn-xs pull-right" ng-click="editInscrit()"><i class="fa fa-plus-square"></i></a>
        Liste des inscrits à l'évènement
    </div>

    <div class="table-responsive" ng-show="Inscrits">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Inscrit in Inscrits track by $index">
                <td>
                    <a class="btn btn-danger btn-xs" ng-click="deleteInscrit($index)"><i class="fa fa-trash-o"></i></a>
                </td>
                <td>{{Inscrit.EvenInscrit.name}}</td>
                <td>{{Inscrit.EvenInscrit.first_name}}</td>
                <td>{{Inscrit.EvenInscrit.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-body text-center" ng-hide="Inscrits">
        Il n'y actuellement pas d'inscrit.
    </div>

</div>


<script type="text/ng-template" id="/popupevenInscrit.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
        <h4 id="myModalLabel" class="modal-title">Edition d'une inscription</h4>
    </div>
    <form ng-action="ok()">
        <div class="modal-body">
            <div ng-bind-html="log"></div>

            <whform ng-model="data.EvenInscrit.first_name" label="Prénom : " required></whform>
            <whform ng-model="data.EvenInscrit.name" label="Nom : " required></whform>
            <whform ng-model="data.EvenInscrit.email" label="Email : " required></whform>

        </div>
        <div class="modal-footer">
            <input type="hidden" ng-model="data.Group.id">
            <button ng-click="ok()" class="btn btn-primary">OK</button>
            <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
        </div>
    </form>
</script>