<div ng-controller="AgendaIndexCtrl" class="calendar-app">

    <!-- START row-->
    <div class="calendar-app">

        <div class="row">
            <div class="col-lg-3 col-md-4">

                <h3 ng-show="Agda.Agenda.id">{{Agda.Agenda.name}}
                    <small>{{Agda.Agenda.description}}</small>
                </h3>

            </div>
            <div class="col-lg-6 col-md-5">
                <whform ng-model="Agda.Agenda.url_ics" disabled="true"></whform>
            </div>
            <div class="col-lg-3 col-md-3">
                <a href="#/app/agenda/new_even/{{Agda.Agenda.id}}" class="btn btn-success pull-right" ng-show="Agda.Agenda.id"><i class="fa fa-plus-square"></i> Créer un nouvel évènement</a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-default btn-xs pull-right" ng-click="editAgenda()">
                            <i class="fa fa-plus-square-o"></i>
                        </a>
                        <h4 class="panel-title">Mes agendas</h4>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr ng-repeat="Agenda in Agendas track by $index">
                                <td style="width: 80px;">
                                    <a ng-click="editAgenda($index);" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                                    <a ng-click="deleteAgenda($index);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td><a href="#/app/agenda/index/{{Agenda.Agenda.id}}">{{Agenda.Agenda.name}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END panel-->

            </div>
            <div class="col-lg-9 col-md-8">

                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- START calendar-->
                        <div id="calendar"></div>
                        <!-- END calendar-->
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
        <!-- END row-->
    </div>

</div>

<script type="text/ng-template" id="/edit.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
        <h4 id="myModalLabel" class="modal-title">Edition d'un calendrier</h4>
    </div>
    <form ng-action="ok()">
        <div class="modal-body">
            <div ng-bind-html="log"></div>
            <whform label="nom : " ng-model="data.Agenda.name"></whform>
            <whform label="Description : " ng-model="data.Agenda.description" tag="textarea"></whform>
        </div>
        <div class="modal-footer">
            <button ng-click="ok()" class="btn btn-primary">OK</button>
            <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="/popupeven.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
        <h4 id="myModalLabel" class="modal-title">{{data.title}}</h4>
    </div>
        <div class="modal-body">
            <div ng-bind-html="log"></div>

            <div ng-show="data.resume">{{data.resume}}<hr/></div>
            <div ng-show="data.adresse">{{data.adresse}}<hr/></div>

            <div class="row">
                <div class="col-md-8"><whform ng-model="data.date_deb_fr" label="Date de début : " disabled="true"></whform></div>
                <div class="col-md-4"><whform ng-model="data.heure_deb_fr" label="à : " disabled="true"></whform></div>
            </div>
            <div class="row" ng-show="data.date_fin_fr">
                <div class="col-md-8"><whform ng-model="data.date_fin_fr" label="Au : " disabled="true"></whform></div>
                <div class="col-md-4" ng-show="data.heure_fin_fr"><whform ng-model="data.heure_fin_fr" label="à : " disabled="true"></whform></div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-click="edit()" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
            <button ng-click="delete()" class="btn btn-danger pull-left"><i class="fa fa-trash-o"></i> Supprimer</button>
        </div>
</script>