<div ng-controller="ParametresIndexCtrl">

    <h3 class="page-header mt0"><span>Paramètres de votre site web</span></h3>

    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-12">

            <form ng-submit="submit();">

                <div class="panel panel-info">

                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-6">

                                <fieldset>
                                    <legend>Paramètres de contact</legend>
                                    <p>Ces paramètres servent pour l'utilisation de la page contact et pour les mentions légales du site web. </p>
                                    <whform label="Raison sociale" ng-model="data.Parametre.raison_sociale"></whform>
                                    <whform label="Responsable de la publication" ng-model="data.Parametre.contact_name"></whform>
                                    <whform label="Email (utilisé pour le formulaire de contact) : " ng-model="data.Parametre.contact_email"></whform>
                                    <whform label="Téléphone" ng-model="data.Parametre.telephone"></whform>
                                    <whform label="Adresse : " ng-model="data.Parametre.adresse_1"></whform>
                                    <whform label="Complément d’adresse" ng-model="data.Parametre.adresse_2"></whform>
                                    <whform label="Code postal" ng-model="data.Parametre.cp"></whform>
                                    <whform label="Ville" ng-model="data.Parametre.ville"></whform>
                                    <whform label="Url de la page contact" ng-model="data.Parametre.contact_page"></whform>
                                    <whform label="Url de la page mentions légales" ng-model="data.Parametre.mentions_page"></whform>
                                    <whform label="About" ng-model="data.Parametre.about" tag="textarea"></whform>

                                </fieldset>

                                <fieldset>
                                    <legend>Paramètres du site</legend>
                                    <whform label="Nom de domaine : " ng-model="data.Parametre.ndd" placeholder="mon-nom-de-domaine.com (sans http ni www devant)"></whform>
                                    <whform label="n° téléphone pour envoi de sms : " ng-model="data.Parametre.telephone_noreply" inputmask="99/99/99/99/99"></whform>
                                    <whform label="Adresse email d’envoi" ng-model="data.Parametre.email_noreply" placeholder="nepasrepondre@mon-nom-de-domaine.com"></whform>
                                    <whform label="Nom de l’email d’envoi" ng-model="data.Parametre.email_name" placeholder="Votre nom"></whform>

                                    <whform label="Serveur smtp : " ng-model="data.Parametre.email_serveur_smtp"></whform>
                                    <whform label="Login du compte smtp : " ng-model="data.Parametre.email_serveur_login"></whform>
                                    <whform label="Mot de passe du compte smtp : " ng-model="data.Parametre.email_serveur_mdp" type="password"></whform>

                                </fieldset>

                            </div>

                            <div class="col-md-6">

                                <fieldset>
                                    <legend>Liens vers les réseaux sociaux</legend>
                                    <whform label="Facebook : " ng-model="data.Parametre.lien_facebook"></whform>
                                    <whform label="Instagram : " ng-model="data.Parametre.lien_instagram"></whform>
                                    <whform label="Twitter : " ng-model="data.Parametre.lien_twitter"></whform>
                                    <whform label="Linkedin : " ng-model="data.Parametre.lien_linkedin"></whform>
                                    <whform label="Youtube : " ng-model="data.Parametre.lien_youtube"></whform>
                                    <whform label="Pinterest : " ng-model="data.Parametre.lien_pinterest"></whform>
                                    <whform label="Google + : " ng-model="data.Parametre.lien_google_plus"></whform>

                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="data.Parametre.active_brochure" value="1" ng-checked="data.Parametre.active_brochure == 1">
                                            <span class="fa fa-times"></span> Activer le téléchargement de la plaquette
                                        </label>
                                    </div>


                                </fieldset>

                                <fieldset>
                                    <legend>Suivi statistique</legend>
                                    <whform label="Code google tag manager : " ng-model="data.Parametre.google_tag_manager" tag="textarea"></whform>
                                </fieldset>

                                <fieldset>
                                    <legend>Mentions légales</legend>
                                    <whform label="N° Siren : " ng-model="data.Parametre.siren"></whform>
                                    <whform label="Hébergeur : " ng-model="data.Parametre.hebergeur"></whform>
                                    <whform label="Responsable publication : " ng-model="data.Parametre.resp_publication"></whform>
                                    <whform label="URL du site web : " ng-model="data.Parametre.url_site_web"></whform>
                                </fieldset>

                            </div>

                        </div>

                    </div>

                    <div class="panel-footer text-right">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

                </div>

            </form>

        </div>


    </div>
</div>