/* --- functional styling */
.dzscalendar {
  position: relative; }

.dzscalendar table, .dzscalendar tbody, .dzscalendar tbody > tr {
  position: relative; }

.dzscalendar .events {
  display: none; }

.dzscalendar .calendar-controls {
  position: relative; }

.dzscalendar .theMonths {
  position: relative; }

.dzscalendar .theMonths > * {
  position: absolute;
  top: 0;
  left: 0; }

/* --- estethic styling */
.dzscalendar {
  font-family: 'Carrois Gothic', Arial; }

.dzscalendar .testimonial span {
  font-size: 2.5em;
  font-family: Courier New, Arial;
  font-style: italic;
  line-height: 1em;
  color: #555; }

.dzscalendar .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 10px; }

.dzscalendar table td {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 12px; 
}

.dzscalendar table thead td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color:#646567;
}

.dzscalendar table tbody {
  border-right:1px solid #caeaf8;
}
.dzscalendar table tbody td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color:#646567;
  border:1px solid #caeaf8;
  padding: 5px 0;
  width:14.5%;
}

.dzscalendar table tbody td.past-date {
  color:#cfd1d2;
}

.dzscalendar table .other-months-date {
}

.dzscalendar .past-date {
}

.dzscalendar .hasEvent {
  background: #f18c00;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
  cursor: pointer;
  font-weight: bold; }

.dzscalendar .calendar-controls {
  min-height: 27px;
  width: 100%; }

.dzscalendar .calendar-controls .arrow-left {
  position: absolute;
  top: 1px;
  left: 10px;
  background: url("../img/glyphicons-halflings.png") -432px -72px no-repeat;
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar .calendar-controls .arrow-right {
  position: absolute;
  top: 1px;
  right: 10px;
  background: url("../img/glyphicons-halflings.png") -456px -72px no-repeat;
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar .calendar-controls .curr-date {
  text-align: center;
  padding-top: 0px; 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color:#000;
}

.dzscalendar .calendar-controls .curr-month {
  margin-right: 3px; }

.dzscalendar .calendar-controls .curr-year {

}

.dzscalendar {
  border:1px solid #f18c00;
  padding:10px 0 0 0;
}

.dzscalendar, .dzscalendar .theMonths, .dzscalendar .calendar-controls {
  width: 100%;
  margin-top: 0; }

.dzscalendar .theMonths {
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-top: 0; }

.dzscalendar .theMonths .argTable {
  width: 99%;
}

.dzscalendar .dzstooltip {
  position: absolute;
  opacity: 0;
  z-index: 576;
  text-align: left;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: ease-out; }

.dzstooltip span.label {
  font-weight: bold; }

.dzstooltip > div {
  padding-bottom: 10px; }

.dzstooltip > div > h5 {
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 10px; }

.dzscalendar.skin-other .testimonial span {
  font-size: 1em; }

.dzscalendar.skin-other .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 0px; }

.dzscalendar.skin-black .testimonial span {
  font-size: 1em; }

.dzscalendar.skin-black .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 0px; }

.dzscalendar.skin-black {
  background: #222;
  color: #fff;
  padding: 7px 3px 12px;
  border-radius: 5px; }

.dzscalendar.skin-black .calendar-controls .arrow-left {
  position: absolute;
  top: 1px;
  left: 10px;
  background: transparent no-repeat center center url(img/arrowline-left-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar.skin-black .calendar-controls .arrow-right {
  position: absolute;
  top: 1px;
  right: 10px;
  background: transparent no-repeat center center url(img/arrowline-right-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar.skin-black .slideDescription {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

.dzscalendar.skin-black .slideDescription .desc-close-button {
  position: absolute;
  top: 10px;
  right: 5px;
  text-align: center;
  padding: 1px 7px;
  border: 1px solid white;
  border-radius: 20px;
  font-family: arial, serif;
  cursor: pointer; }

/* --- functional styling */
.dzstooltip-con.js {
  position: fixed;
  top: 0px;
  left: 0; }

.dzstooltip {
  position: absolute;
  top: 0;
  left: 0; }

.with-tooltip {
  position: relative;
  display: inline-block; }

/* --- estethic styling */
.with-tooltip span:first-child, .dzstooltip {
  background: #fafafa;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1px 12px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.dzstooltip {
  opacity: 1;
  visibility: visible;
  display: inline-block; }

.with-tooltip span:first-child {
  position: absolute;
  bottom: 150%;
  overflow: visible;
  left: 0px;
  pointer-events: none;
  color: #111111; }

.interactive .with-tooltip span:first-child {
  pointer-events: auto; }

.with-tooltip:hover span:first-child {
  visibility: visible;
  opacity: 1;
  bottom: 120%; }

.dzstooltip {
  position: relative; }

/* -- arrows -> functional + estethic*/
.with-tooltip span:first-child:after, .dzstooltip:after, .with-tooltip span:first-child:before, .dzstooltip:before {
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  content: " ";
  height: 0;
  width: 0; }

.with-tooltip span:first-child:after, .dzstooltip:after, .with-tooltip span:first-child:before, .dzstooltip:before {
  top: 100%; }

.with-tooltip span:first-child:after, .dzstooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px; }

.with-tooltip span:first-child:after, .dzstooltip:after {
  border-top-color: #fafafa;
  left: 12px;
  margin-left: -5px; }

.with-tooltip span:first-child:before, .dzstooltip:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 8px; }

.with-tooltip span:first-child:before, .dzstooltip:before {
  border-top-color: rgba(0, 0, 0, 0.3);
  left: 12px;
  margin-left: -8px; }

.with-tooltip.arrow-left span:first-child {
  box-shadow: 0 0 0 0; }

.with-tooltip.arrow-left span:first-child {
  left: 200%;
  right: auto;
  bottom: auto;
  top: 0px; }

.with-tooltip.arrow-left span:first-child:after, .dzstooltip.arrow-left:after, .with-tooltip.arrow-left span:first-child:before, .dzstooltip.arrow-left:before {
  top: 0%; }

.with-tooltip.arrow-left span:first-child:after, .dzstooltip.arrow-left:after {
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-right-color: #fafafa;
  top: 7px;
  margin: 0 0 0 0;
  left: -10px;
  margin-top: -5px; }

.with-tooltip.arrow-left span:first-child:before, .dzstooltip.arrow-left:before {
  border-width: 8px;
  border-color: transparent transparent transparent transparent;
  border-right-color: rgba(0, 0, 0, 0.3);
  top: 7px;
  left: -8px;
  margin-top: -8px; }

.with-tooltip.arrow-right span:first-child {
  box-shadow: 0 0 0 0;
  min-width: 100px; }

.with-tooltip.arrow-right span:first-child {
  left: auto;
  right: 200%;
  bottom: auto;
  top: 0px; }

.arrow-right.with-tooltip:hover span:first-child {
  left: auto;
  right: 150%;
  bottom: auto;
  top: 0px; }

.with-tooltip.arrow-right span:first-child:after, .dzstooltip.arrow-right:after, .with-tooltip.arrow-right span:first-child:before, .dzstooltip.arrow-right:before {
  top: 0%; }

.with-tooltip.arrow-right span:first-child:after, .dzstooltip.arrow-right:after {
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-left-color: #fafafa;
  top: 9px;
  margin: 0 0 0 0;
  left: auto;
  right: -10px;
  margin: 0 0 0 0;
  margin-top: -5px; }

.with-tooltip.arrow-right span:first-child:before, .dzstooltip.arrow-right:before {
  border-width: 8px;
  border-color: transparent transparent transparent transparent;
  border-left-color: rgba(0, 0, 0, 0.3);
  top: 9px;
  left: auto;
  right: -16px;
  margin: 0 0 0 0;
  margin-top: -8px; }

 /*
        margin:0 0 0 0;
*/
.with-tooltip.arrow-up span:first-child {
  top: auto;
  bottom: auto;
  top: 150%;
  min-width: 75px; }

.arrow-up.with-tooltip:hover span:first-child {
  left: auto;
  top: auto;
  bottom: auto;
  top: 100%;
  margin-top: 5px; }

.with-tooltip.arrow-up span:first-child:after, .dzstooltip.arrow-up:after, .with-tooltip.arrow-up span:first-child:before, .dzstooltip.arrow-up:before {
  top: 0%; }

.with-tooltip.arrow-up span:first-child:after, .dzstooltip.arrow-up:after {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: #fafafa;
  left: 10px;
  top: -5px;
  margin: 0 0 0 0;
  margin-top: -5px; }

.with-tooltip.arrow-up span:first-child:before, .dzstooltip.arrow-up:before {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  left: 14px;
  top: -8px;
  margin-top: -8px; }
