/* -------------------------------------------------------------- */
/* --- REPSONSE 980px ------------------------------------------- */
/* -------------------------------------------------------------- */

@media screen and (min-width:1200px) {
.bottom-gray-bg [class*="col-md"] {float: left;}
	}
/* -------------------------------------------------------------- */
/* --- REPSONSE 768px -------------------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (max-width:991px) {
.home-blog-qsand-target4 > li {width: 47.83%;}
.header-nav-wrap > nav {display: none!important;}
.logo-big {display: none;}
.sticky-logo {opacity : 1 !important; display: block !important;}
.header_nav {height : 62px;}
.responsive-nav {display: block;}
.responsive-nav ul.dropdown {position: static; background: #ededed;}
.header_nav {position: relative;}
.navbar-inner {margin-right: 0;}
header {min-height: 1px;}
.team-members-list > li {width: 32.83%;}
.hover-wrapper {margin-right: 7px;}
.page404 .col-md-4 {text-align:center}
.page404 .col-md-4 .relative.pull-right.border-box {text-align: center; display: inline-block; float: none !important;}
.sidebar {display: none;}
.col-md-8.gray-border-right {border: none;}
.col-md-8.gray-border-left {border: none;}
.display-table-stat [class*="col-md"] {display: block; text-align: center;}
.responsive-divider {display: block;}
.home-blog-qsand-target4 li a {display: inline-block;}
.q-sand-target.three-columns-q-sand li, .q-sand-target.two-columns-q-sand li {width: 49.8%;}
.q-sand-target.four-columns-q-sand li {width: 49.8%;}
.project-info.text-center.display-block {display: none;}
.pull-right.green-letters.font-dosis.font600.padding-top24.padding-bottom24.padding-left24.margin-top2.font-size13 {display: none;}
.menu-trigger {display: block;}
.blog-timeline-author-data {text-align: left;}
.col-md-10.gray-border-left {border: none;}
.blog-timeline-wrapper .col-md-10.padding-top48 {padding-top: 0;}
.pricing-body-wrap [class*="col-md"] {padding: 0 15px;}
.col-md-12 .col-md-3 {width: 50%; float: left;}
.stat-table-ph {position: static; margin-top: 12px;}
.stat-table-ph > * > * > * {text-align: left;}
.search-popout-block {display: none;}
}
/* -------------------------------------------------------------- */
/* --- REPSONSE 440px ------------------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (max-width:768px) {
.responsive_nav {display: block; margin: 26px 0; width: 40%; float: left;}
.nav.header_menu {display: none;}
.team-members-list > li {width: 32.83%;}
.hover-wrapper {margin-right: 0;}
.swiper-standard.swiper-container {height: 314px;}
.display-table-stat {display: block;}
.display-table-stat > * {display: block;}
.display-table-stat > * > * {display: block;}
}
@media screen and (max-width:500px) {
.team-members-list > li {width: 49%;}
.frb_countdown.frb_countdown_circle-style .frb_countdown_single_pos_wrap {float: none !important; display: inline-block;}
.frb_countdown.frb_countdown_circle-style .frb_countdown_position {text-align: center;}

.q-sand-target.three-columns-q-sand li, .q-sand-target.two-columns-q-sand li, .q-sand-target.four-columns-q-sand li {width: 100%;}

.col-md-12 .col-md-3 {width: auto; float: none;}

}

/* -------------------------------------------------------------- */
/* --- REPSONSE 300px ------------------------------------------- */
/* -------------------------------------------------------------- */

@media screen and (max-width:440px) {
.footer-logo {position: relative;}
.swiper-standard.swiper-container {height: 340px;}
a.logo-img {left: 16px;}
.about-footer {padding-left: 0;}
.team-members-list > li > img {max-width: 100%; width: 280px;}
.image-author-wrap {position: relative;}
.comment-box-padding {padding-left: 0; margin-top: 12px;}
.frb_countdown.frb_countdown_circle-style .frb_countdown_single_pos_wrap {float: none !important; display: inline-block;}
.frb_countdown.frb_countdown_circle-style .frb_countdown_position {text-align: center;}
.swiper-slider .arrow-right {display: none;}
.swiper-slider .arrow-left {display: none;}
}
	
@media screen and (max-width:300px) {
.team-members-list > li {width: 100%;}
.swiper-standard.swiper-container {height: 410px;}
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	