<h3 class="page-header mt0">Informations techniques</h3>

<div class="panel panel-info">

    <div class="panel-body">

        <whform ng-model="data.Partenaire.slug" label="Nom court pour url" legende="Sans espace, ni tiret, ni accent"></whform>
        <whform ng-model="data.Partenaire.url_r" label="Url de redirection" legende="Pour rediriger vers une page extérieur ou une autre page du site web"></whform>

    </div>

</div>