<div ng-controller="PartenairesIndexCtrl">

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a href="#/app/partenaires/edit/" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer une nouveau partenaire</a>
        </div>
        <span>Liste des partenaires</span>
    </h3>


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des partenaires</span></div>

                <div class="table-responsive" ng-show="Partenaires">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th></th>
                            <th>Nom</th>
                            <th class="text-right">Etat</th>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="Partenaires">
                        <tr ng-repeat="U in Partenaires track by $index">
                            <td>
                                <a class="btn btn-primary btn-xs" href="#/app/partenaires/edit/{{U.Partenaire.id}}"><i class="fa fa-edit"></i> Modifier</a>
                                <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td><i class="icon-lock" ng-show="Children.Page.lock"></i></td>
                            <td>
                                <h4 class="mt0">{{U.Partenaire.name}}</h4>
                                <p>Voir la page : <a href="{{U.Partenaire.url}}" target="_blank">{{U.Partenaire.url_r}}</a></p>
                            </td>
                            <td class="text-right"><div class="label label-{{U.Etat.class}}">{{U.Etat.name}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body text-center" ng-hide="Partenaires">
                    Il n'y a actuellement pas de partenaire, <a href="#/app/partenaires/edit/">souhaitez vous en créer un</a> ?
                </div>

            </div>

        </div>


    </div>
</div>