<div ng-controller="LoginFormController" class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="{{WH_ROOT}}/app_admin/assets/img/kobaltis-blanc.png" alt="Image" class="block-center img-rounded" style="width:100%"/>
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">IDENTIFICATION</p>
            <form role="form"  validate-form="" novalidate="" class="mb-lg" action="/admin/users/login" method="post">
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="email" placeholder="Email" ng-model="data.User.email" required="required" class="form-control" name="data[User][email]" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" placeholder="Mot de passe" ng-model="data.User.password" required="required" class="form-control" name="data[User][password]" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <!--
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="remember" ng-model="account.remember" />
                            <span class="fa fa-check"></span>Se souvenir de moi</label>
                    </div>
                    <div class="pull-right"><a ui-sref="public.recover" class="text-muted">Mot de passe perdu</a>
                    </div>
                    -->
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">S'identifier</button>
            </form>
            <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
            <!--<p class="pt-lg text-center">Pas encore inscrit ?</p><a ui-sref="public.register" class="btn btn-block btn-default">S'inscrire</a>-->
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br/>
        <span ng-bind="app.description"></span>
    </div>

    <div ng-bind-html="log"></div>
    <div >{{log}}</div>

</div>


