@charset "utf-8";
/* CSS responsive 

@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

*/

/* Smartphones (portrait and landscape) */
@media screen and (min-width: 1px) and (max-width: 767px) {
.header .side-menu-btn {display:block !important; margin-right: 40px;}
.fullscreen-carousel .slides li img {max-width: 280%; width: 280%;}
.logo a img {width: 280%; max-width: 280%;}
.full-intro .header, .full-intro .header.sticky {top:0px; position: fixed; min-height: 95px;}
p, li {font-size:18px;}
.bloc-services {background-position: left top;}
.footer-info .col-md-4 {text-align: center;padding-top: 20px;}
p.lead, .lead {line-height: 34px;}
}


/* iPads (portrait and landscape) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.header .side-menu-btn {display:block !important; margin-right: 100px;}
.fullscreen-carousel .slides li img {max-width: 140%; width: 140%;}
.logo a img {width: 410%; max-width: 410%;}
.full-intro .header, .full-intro .header.sticky {top:0px; position: fixed; min-height: 95px;}
p, li {font-size:18px;}
#service .col-md-4 { min-height:540px;}
.bloc-services {background-position: left top;}
.footer-info .col-md-4 {text-align: center;padding-top: 20px;}
p.lead, .lead {line-height: 34px;}
}

/* iPads (landscape) */
@media (max-device-width: 1024px) and (orientation: landscape) {
.header .side-menu-btn {display:block !important; margin-right: 100px;}
.bloc-services {background-position: left top;}
.footer-info .col-md-4 {text-align: center;padding-top: 20px;}
.logo a img { width: 100%; max-width: 100%;}
.navigation {display:none;}
p.lead, .lead {line-height: 34px;}
}

/* Smartphones (landscape) */
@media (max-device-width: 767px) and (orientation: landscape) {
.header .side-menu-btn {display:block !important; margin-right: 100px;}
.bloc-services {background-position: left top;}
.footer-info .col-md-4 {text-align: center;padding-top: 20px;}
p.lead, .lead {line-height: 34px;}
}

.header .side-menu-btn {display:none;}
header.header .container { padding:0; margin:0; width:100%}
.nav>li>a:hover, .nav>li>a:focus { border-bottom:4px solid #f5e458;}
.bloc-services {
	background-image: url(/mazel/img/fond_02.jpg);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
}
.text-center p {color:#FFFFFF; font-size:20px;}
.footer-info h1, 
.footer-info li {color:#f5e458; text-align: center;}

