<div ng-controller="UsersIndexCtrl">
    <div class="panel panel-info ng-scope">

        <div class="panel-heading">

            <div class="row">
                
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-right">
                    <a class="btn btn-default btn-xs" href="#/app/users/edit/">
                        <i class="fa fa-plus-square-o"></i> Nouveau
                    </a>
                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="min-width:70px;"></th>
                        <th></th>
                        <th>Description</th>
                        <th>Fonction</th>
                        <th>Administrateur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="User in Users track by User.User.id">
                        <td>
                            <a href="#/app/users/edit/{{User.User.id}}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                            <a ng-click="delete($index);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                        </td>
                        <td>{{User.User.id}}</td>
                        <td>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{User.User.nom_connexion}}</h4>
                                    <p>Email: {{User.User.email}}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{User.role.name}}</td>
                        <td><div class="label label-success">{{User.Group.name}}</div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
