.block-center.mt-xl.wd-xl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded(src='/theme_angle/app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv PASSWORD RESET
      form(role='form')
        p.text-center Fill with your mail to receive instructions on how to reset your password.
        .form-group.has-feedback
          label.text-muted(for='resetInputEmail1') Email address
          input#resetInputEmail1.form-control(type='email', placeholder='Enter email', autocomplete="off")
          span.fa.fa-envelope.form-control-feedback.text-muted
        
        button.btn.btn-danger.btn-block(type='submit') Reset
            
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
