<div class="panel panel-info" ng-controller="FileManagerController">
    
    <div class="panel-heading sortable-handler">

        <div class="pull-right">
            <a type="button" class="btn btn-success btn-xs" ng-click="openFileManager('data.Contents[$index].ContentModule.content.files', 50)"><i class="fa fa-plus-square-o"></i> Ajouter des fichiers</a>
            <ng-include src="'app_admin/views/elements/cms/btns-admin.html'"></ng-include>
        </div>

        <i class="fa fa-th-large"></i> {{Modules[C.ContentModule.module].params.name}}

    </div>
    <div class="panel-body {{C.ContentModule.content.params.prop}}" >


        <div class="row">
            <div class="col-md-12">

                <whform ng-model="C.ContentModule.content.title" placeholder="Titre du bloc (facultatif)"></whform>
                <whform ng-model="C.ContentModule.content.template" placeholder="Template (facultatif)"></whform>

            </div>
        </div>



        <div class="box-placeholder" ng-repeat="G in data.Contents[$index].ContentModule.content.files">

            <div class="row">

                <div class="col-md-4">

                </div>
                <div class="col-md-8 text-right">
                    <a class="btn btn-xs btn-danger" ng-click="galDelete($parent.$index, $index);"><i class="fa fa-trash-o"></i></a>
                </div>

            </div>


            <div class="row" >

                <div class="col-md-4">

                    <img ng-src="{{WH_ROOT}}{{G.File.url}}" alt="" style="max-width: 100%;width:100%;"/>

                </div>

                <div class="col-md-8 form-horizontal">

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nom</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" ng-model="G.File.name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" ng-model="G.File.description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Lien</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" ng-model="G.File.lien"></textarea>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>