<a type="button" class="btn btn-default" ng-click="addBloc('txt')"><i class="fa fa-align-justify"></i> Bloc de texte</a>
<a type="button" class="btn btn-default" ng-click="addBloc('txtimg')"><i class="fa fa-align-justify"></i> Texte + image</a>
<a type="button" class="btn btn-default" ng-click="addBloc('img')"><i class="fa fa-file-image-o"></i> Image</a>
<a type="button" class="btn btn-default" ng-click="addBloc('video')"><i class="fa fa-video-camera"></i> Video</a>
<a type="button" class="btn btn-default" ng-click="addBloc('galerie')"><i class="fa fa-th-large"></i> Galerie</a>