<div ng-controller="RightsIndexCtrl">
    <div class="panel panel-info ng-scope">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                    <button ng-click="whUpdateAcos()" class="btn btn-success btn-xs"><i class="fa fa-angle-double-down"></i> Importer les actions</button>
                    <button ng-click="whUpdateAros()" class="btn btn-success btn-xs"><i class="fa fa-angle-double-down"></i> Importer les groupes</button>
                    <button ng-click="whDrop()" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Vider les Aros/Acos</button>
                    <button ng-click="whDropPermissions()" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer les droits</button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="min-width:70px;">Actions</th>
                        <th>Nom</th>
                        <th>Type de groupe</th>
                        <th>Nom de domaine (Si LDAP)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="group in Groups.Group">
                            <td><a href="#/app/rights/edit/{{ group.Aro.id }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a></td>
                            <td>{{ group.Group.name }}</td>
                            <td>Groupe local</td>
                            <td>-</td>
                        </tr>
                        <tr ng-repeat="ldapGroup in Groups.LdapGroup">
                            <td><a href="#/app/rights/edit/{{ ldapGroup.Aro.id }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a></td>
                            <td>{{ ldapGroup.LdapGroup.name }}</td>
                            <td>Ldap</td>
                            <td>{{ ldapGroup.LdapGroup.dn }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


