<h3>Type de pages
    <small>Créez et gérez les différents templates</small>
</h3>

<div class="table-grid">
    <div class="col">

        <div ng-controller="TypepagesIndexCtrl">
            <div class="panel panel-info">

                <div class="panel-heading">

                    <div class="row">

                        <div class="col-lg-4"></div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 text-right">
                            <a class="btn btn-default btn-xs" ng-click="edit();">
                                <i class="fa fa-plus-square-o"></i> Nouveau
                            </a>
                        </div>

                    </div>
                </div>

                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th style="min-width:70px;"></th>
                                <th>Nom / code</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="typepage in typepages">
                                {{typepage}}
                                <td>
                                    <a ng-click="edit($index);" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                                    <a ng-click="delete($index);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">{{typepage.Typepage.name}}</h4> / {{typepage.Typepage.code}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="label label-success">{{typepage.Typepage.description}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/ng-template" id="/typepage-edit.html">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
                <h4 id="myModalLabel" class="modal-title">Edition d’un type de page</h4>
            </div>
            <form ng-action="ok()">
                <div class="modal-body">
                    <div ng-bind-html="log"></div>
                    <div class="form-group">
                        <input type="text" placeholder="Nom du template" ng-model="data.Typepage.name" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Code" ng-model="data.Typepage.code" class="form-control">
                    </div>

                    <div class="form-group">
                        <textarea placeholder="Description" rows="5" ng-model="data.Typepage.description" class="form-control"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" ng-model="data.Typepage.id">
                    <button ng-click="ok()" class="btn btn-primary">OK</button>
                    <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
                </div>
            </form>
        </script>

    </div>
</div>
