<form ng-submit="submit()" autocomplete="off" ng-controller="ProductsEditCtrl" name="Form" class="wh-cms">

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/products/index/">Liste des produits</a></li>
    </ol>

    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-2">

            <h3 class="page-header mt0 mb0"><span style="visibility: hidden">Menu : </span></h3>

            <div class="list-group" ng-init="navProduct = 'page'">
                <a class="list-group-item" ng-class="{'active' : navProduct == 'page'}" ng-click="navProduct = 'page'">Informations</a>
                <a class="list-group-item" ng-href="{{data.Product.url}}" ng-show="data.Product.url" target="_blank">Voir la page</a>
            </div>

        </div>

        <div class="col-md-7">

            <div ng-show="navProduct == 'page'">

                <h3 class="page-header mt0">Le produit</h3>

                <fieldset>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Titre de votre page" ng-model="data.Product.h1" tooltip="Soyez explicite sur le titre de la page" required>
                    </div>
                </fieldset>


                <div class="panel panel-info">

                    <div class="panel-heading">Caractéristiques</div>

                    <div class="panel-body">

                        <fieldset>

                            <legend>Description</legend>

                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-6">
                                        <whform label="Nom court : " ng-model="data.Product.name" placeholder="Nom court"></whform>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <whform label="Résumé : " ng-model="data.Product.resume" ></whform>
                                    </div>
                                    <div class="col-md-6">
                                        <whform label="Dimensions : " ng-model="data.Product.dimensions" ></whform>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <whform label="Référence : " ng-model="data.Product.reference" ></whform>
                                    </div>
                                    <div class="col-md-4">
                                        <whform label="Prix TTC : " ng-model="data.Product.prix_ttc" ></whform>
                                    </div>
                                    <div class="col-md-4">
                                        <whform label="Prix barré TTC : " ng-model="data.Product.prix_barre_ttc" ></whform>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                        <fieldset>

                            <legend>Caractéristiques</legend>

                            <div class="form-group">

                                <div class="row">

                                    <div class="col-md-4" ng-repeat="attributeFamily in attributeFamilies">

                                        <div class="form-group">
                                            <label>{{attributeFamily.AttributeFamily.name_admin}}</label>
                                            <ui-select multiple ng-model="data.Product.attributes[attributeFamily.AttributeFamily.id]" theme="bootstrap" ng-disabled="disabled">
                                                <ui-select-match>{{$item.label}} </ui-select-match>
                                                <ui-select-choices repeat="attribute.id as attribute in attributeFamily.attributeOptions  | filter: {label: $select.search}">
                                                    <span ng-bind-html="attribute.label | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </fieldset>

                    </div>

                </div>

                <div class="panel panel-info">

                    <div class="panel-heading">Contenu</div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-model="data.Product.description" redactor>{{data.Product.description}}</textarea>
                        </div>

                    </div>

                </div>

                <div class="panel panel-info" ng-controller="FileManagerController">
                    
                    <div class="panel-heading sortable-handler">

                        <div class="pull-right">
                            <a type="button" class="btn btn-success btn-xs" ng-click="openFileManager('data.Product.galerie.files', 50)"><i class="fa fa-plus-square-o"></i> Ajouter des fichiers</a>
                        </div>

                        Portfolio

                    </div>

                    <div class="panel-body" ui-sortable ng-model="data.Product.galerie.files" >

                        <div class="box-placeholder " ng-repeat="G in data.Product.galerie.files">

                            <div class="row">

                                <div class="col-md-4">

                                </div>
                                <div class="col-md-8 text-right">
                                    <a class="btn btn-xs btn-danger" ng-click="galDelete($index);"><i class="fa fa-trash-o"></i></a>
                                </div>

                            </div>


                            <div class="row" >

                                <div class="col-md-4">

                                    <img ng-src="{{G.File.url}}" alt="" style="max-width: 100%;width:100%;"/>

                                </div>

                                <div class="col-md-8 form-horizontal">

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Nom</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="G.File.name" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Description</label>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" ng-model="G.File.description"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Lien</label>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" ng-model="G.File.lien"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <h3 class="page-header mt0">Paramètres</h3>

            <div id="panelPublication" class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-save"></i> Publication </div>
                <div class="panel-body">

                    <whform label="Rubrique :" ng-model="data.Product.rubrique_id" options="rubriquesOptions" obj="true" ></whform>

                    <hr>

                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="data.Product.etat_id" name="data[Product][etat_id]" value="publish" require /> Publier
                            immédiatemment
                        </label>
                    </div>
                    <div class="radio">
                        <label class="text-danger">
                            <input type="radio" ng-model="data.Product.etat_id" name="data[Product][etat_id]" value="draft" require  />
                            Enregistrer en brouillon
                        </label>
                    </div>

                    <hr>

                    <whform label="Promotion ?" ng-model="data.Product.promotion" tag="checkbox"></whform>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-right"><button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i class=""></i>
                            Enregistrer</button></div>
                    </div>
                </div>

            </div>


            <div id="panelVignette" class="panel panel-info" ng-controller="FileManagerController" tooltip="Il s’agit de l’image minigature utilisée dans les listes d’article.">
                <div class="panel-heading" >
                    <i class="fa fa-picture-o"></i> Vignette
                </div>
                <div collapse="panelVignette" class="panel-wrapper">
                    <div class="panel-body">
                        <img ng-src="{{data.Product.vignette.File.url}}" alt="" ng-show="data.Product.vignette" style="width:100%;max-width:100%;" />
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-sm btn-danger" ng-click="data.Product.vignette = false" ng-show="data.Product.vignette"><i class="fa fa-trash-o"></i> Supprimer</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Product.vignette', 1)"><i class="fa fa-plus-square"></i> Ajouter une image</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</form>
