<form ng-submit="submit()" autocomplete="off" ng-controller="ActualiteEditionCtrl" name="Form" class="wh-cms">

    <div ng-bind-html="log"></div>

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/actualites/index">Liste des actualités</a></li>
    </ol>


    <div class="row">



        <div class="col-md-2">

            <h3 class="page-header mt0 mb0"><span style="visibility: hidden">Menu : </span></h3>


            <div class="list-group" ng-init="navPage = 'page'">
                <a class="list-group-item" ng-class="{'active' : navPage == 'page'}" ng-click="navPage = 'page'">La page</a>
                <a class="list-group-item" ng-class="{'active' : navPage == 'ref'}" ng-click="navPage = 'ref'">Le référencement</a>
                <a class="list-group-item" ng-class="{'active' : navPage == 'tech'}" ng-click="navPage = 'tech'">Infos techniques</a>
                <a class="list-group-item" ng-href="{{data.Actualite.url}}" ng-show="data.Actualite.url" target="_blank">Voir la page</a>
            </div>

        </div>


        <div class="col-md-7">


            <div ng-controller="ModuleCtrl" ng-show="navPage == 'page'">

                <h3 class="page-header mt0">L’actualité</h3>

                <fieldset>

                    <whform ng-model="data.Actualite.h1" placeholder="Nom de votre actualité" tag-class="input-lg" tooltip="Soyez explicite sur le titre de l'actualité" required></whform>

                </fieldset>

                <fieldset>

                    <label>Ajouter un bloc de contenu</label>

                    <div class="btn-group btn-group-justified" role="group" ng-include="'app_admin/views/elements/cms/bloc-menu.html'"></div>

                </fieldset>

                <div ui-sortable="moduleSortableOptions" ng-model="data.Contents">
                    <div ng-repeat="C in data.Contents track by $index" id="portlet-{{$index}}" portlet="portlet" class="bloc-{{C.ContentModule.params.module}}">
                        <ng-include src="Modules[C.ContentModule.module].params.bloc_url"></ng-include>
                    </div>
                </div>

            </div>

            <ng-include src="'app_admin/views/actualites/inc-ref.html'" ng-show="navPage == 'ref'"></ng-include>
            <ng-include src="'app_admin/views/actualites/inc-tech.html'" ng-show="navPage == 'tech'"></ng-include>

        </div>

        <div class="col-md-3">

            <h3 class="page-header mt0">Paramètres</h3>

            <div id="panelPublication" class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-save"></i> Publication
                </div>
                <div class="panel-body">

                    <whform label="Rubrique principale : " ng-model="data.Actualite.page_id" options="Rubriques" obj="true"></whform>

                    <div class="form-group">
                        <label>Rubriques complémentaires : </label>
                        <ui-select multiple ng-model="data.Page.ids" theme="bootstrap" ng-disabled="disabled">
                            <ui-select-match placeholder="Choisir les rubriques">{{$item.label}} </ui-select-match>
                            <ui-select-choices repeat="Rubrique.id as Rubrique in Rubriques  | filter: {label: $select.search}">
                                <span ng-bind-html="Rubrique.label | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <whform label="Titre court : " ng-model="data.Actualite.name" placeholder="Nom court" tooltip="Si le titre est trop long dans les menus, indiquez ici un titre plus court"></whform>
                    <whform tag="textarea" ng-model="data.Actualite.resume" label="Texte résumé : " placeholder="Resumé" tooltip="Le résumé sert dans les listes et pour le référencement"></whform>
                    <whform label="Type de contenu" options="Types" ng-model="data.Actualite.type"></whform>
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" ng-model="data.Actualite.push_accueil" value="1" ng-checked="data.Actualite.push_accueil == 1">
                            <span class="fa fa-times"></span> Pousser sur l'accueil
                        </label>
                    </div>

                    <hr/>

                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="data.Actualite.etat_id" name="data[Actualite][etat_id]" value="publish" /> Publier
                            immédiatemment
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="data.Actualite.etat_id" name="data[Actualite][etat_id]" value="publish_date" /> Publier
                            plus tard
                        </label>
                    </div>
                    <div class="radio">
                        <label class="text-danger">
                            <input type="radio" ng-model="data.Actualite.etat_id" name="data[Actualite][etat_id]" value="draft"  />
                            Enregistrer en brouillon
                        </label>
                    </div>

                    <whform label="Date de publication : " ng-model="data.Actualite.publication_date_fr" inputmask="99/99/9999" ng-show="data.Actualite.etat_id == 'publish_date'"></whform>
                    <whform label="Programmer une date de retrait ?" ng-model="data.Actualite.publication_date_fin_fr" inputmask="99/99/9999"></whform>


                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-right"><button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i class=""></i>
                            Enregistrer</button></div>
                    </div>
                </div>

                <div collapse="panelPublication" class="panel-wrapper"></div>

            </div>


            <div id="panelVignette" class="panel panel-info" ng-controller="FileManagerController" tooltip="Il s’agit de l’image minigature utilisée dans les listes d’article.">
                <div class="panel-heading" >
                    <i class="fa fa-picture-o"></i> Vignette
                </div>
                <div collapse="panelVignette" class="panel-wrapper">
                    <div class="panel-body">
                        <img ng-src="{{data.Actualite.vignette.File.url}}" alt="" ng-show="data.Actualite.vignette" style="width:100%;max-width:100%;" />
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-sm btn-danger" ng-click="deleteFileManager('data.Actualite.vignette')" ng-show="data.Actualite.vignette"><i class="fa fa-trash-o"></i> Supprimer</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Actualite.vignette', 1)"><i class="fa fa-plus-square"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</form>

