<div ng-controller="NewletterInscritsIndexCtrl">

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/newsletter_inscrits/index/">Liste des inscrits</a></li>
    </ol>

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a ng-click="exporter()" class="btn btn-success btn-xs"><i class="fa fa-download"></i> Exporter</a>
        </div>
        <span>&nbsp;</span>
    </h3>


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des inscrits<span></div>

                <div class="table-responsive" >

                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">

                        <thead>
                            <tr>
                                <th style="width:50px;" ></th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="inscrit in inscrits">
                                <td>{{inscrit.NewsletterInscrit.id}}</td>
                                <td>{{inscrit.NewsletterInscrit.email}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>


    </div>
</div>