<div ng-controller="FormulairesIndexCtrl">

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a ng-click="editFormulaire();" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer un nouveau formulaire</a>
        </div>
        <span>Liste des formulaires</span>
    </h3>


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-9">

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des formulaires</span></div>

                <div class="table-responsive" ng-show="Formulaires">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Nom</th>
                                <th>Page</th>
                                <th>Nombre d'éléments</th>
                                <th>Créé par</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Formulaire in Formulaires track by $index">
                                <td>

                                    <a class="btn btn-success btn-xs" ng-href="/admin/form_manager/forms/export/{{Formulaire.Form.id}}" target="_blank"><i class="fa fa-download"></i> Download</a>
                                    <a class="btn btn-primary btn-xs" href="#/app/formulaire_elements/index/{{Formulaire.Form.id}}"><i class="fa fa-edit"></i> Modifier</a>
                                    <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>
                                    <h4 class="mt0">{{Formulaire.Form.name}}</h4>
                                </td>
                                <td>{{Formulaire.Page.name}}</td>
                                <td>{{Formulaire.Form.elements_number}}</td>
                                <td>{{Formulaire.User.nom_connexion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body text-center" ng-hide="Formulaires">
                    Il n'y a actuellement pas de formulaires, <a href="#/app/formulaires/edit/">souhaiteriez-vous en créer un</a> ?
                </div>

            </div>

        </div>

    </div>
</div>

<script type="text/ng-template" id="/edit.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
        <h4 id="myModalLabel" class="modal-title">Edition d'un formulaire</h4>
    </div>
    <form ng-action="ok()">
        <div class="modal-body">
            <div ng-bind-html="log"></div>
            <whform label="Nom : " ng-model="data.Form.name"></whform>
            <whform label="Page : " ng-model="data.Form.page_id" options="Pages" obj="true" ></whform>
        </div>
        <div class="modal-footer">
            <button ng-click="ok()" class="btn btn-primary">OK</button>
            <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
        </div>
    </form>
</script>

