<div class="form-group" ng-class="{'has-error': error}">
    <label for="" ng-show="label">{{label}}</label>
    <select ng-model="ngModel" class="form-control {{tagClass}}" ng-change="ngChange">
        <option value="" ng-show="empty || obj">{{empty}}</option>
        <option value="{{id}}" ng-repeat="(id, label) in options" ng-selected="ngModel == id ? 'selected' : ''" ng-if="!obj">{{label}}</option>
        <option value="{{option.id}}" ng-repeat="option in options" ng-selected="ngModel == option.id ? 'selected' : ''" ng-if="obj">{{option.label}}</option>
    </select>
    <ul class="parsley-errors-list filled" ng-show="error"><li>{{error}}</li></ul>
</div>
