<STYLE type="text/css">
	.tableTd {
	   	border-width: 0.5pt; 
		border: solid; 
	}
	.tableTdContent{
		border-width: 0.5pt; 
		border: solid;
	}
	#titles{
		font-weight: bolder;
	}
   
</STYLE>
<table>
		<tr id="titles">
			<td class="tableTdContent" >Email</td>
		</tr>
		<?php foreach($inscrits as $i) { ?>
			<tr>
				<td class="tableTdContent" ><?= $i['NewsletterInscrit']['email']; ?></td>
			</tr>
		<?php } ?>
</table>