@import 'compass'; 
@import 'variable.scss';

#myCarousel {

  .item {

    height: 600px;

    .carousel-caption {
      right:0;
      bottom:0;
      left:0;
      /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
      background-color: rgba(0, 0, 0, 0.6);
      /* For IE 5.5 - 7*/
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      /* For IE 8*/
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

      h2 {
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        color: #ccc;
        font-weight: 400;
      }
    }


    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

  }

  .carousel-indicators {
    bottom: -5px;
  }


}


h1 {
  font-size: 30px;
  line-height: 30px;
}