<!-- START action buttons-->
<div class="clearfix mb">
   <div class="btn-group pull-left">
      <button type="button" class="btn btn-default btn-sm">
         <em class="fa fa-mail-reply text-gray-dark"></em>
      </button>
      <button type="button" class="btn btn-default btn-sm">
         <em class="fa fa-mail-reply-all text-gray-dark"></em>
      </button>
      <button type="button" class="btn btn-default btn-sm">
         <em class="fa fa-mail-forward text-gray-dark"></em>
      </button>
   </div>
   <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-sm">
         <em class="fa fa-exclamation text-gray-dark"></em>
      </button>
      <button type="button" class="btn btn-default btn-sm">
         <em class="fa fa-times text-gray-dark"></em>
      </button>
   </div>
</div>
<!-- END action buttons-->
<div class="panel panel-default">
   <div class="panel-body">
      <table class="table table-hover mb-mails">
         <tbody>
            <tr class="mb-mail-active">
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" checked="checked" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star fa-lg text-warning"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="app/img/user/01.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Antonio Griffin</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="app/img/user/02.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Bernard Elliott</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/03.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Alfredo Fletcher</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/04.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Mitchell Burke</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/05.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Joel Miles</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/06.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Alyssa Kim</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/07.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Jim Cruz</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/08.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Rebecca Griffin</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/09.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Gwendolyn Wood</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/10.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Bobbie Fox</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td class="text-center">
                  <em class="fa fa-star-o fa-lg text-muted"></em>
               </td>
               <td ng-click="$state.transitionTo('app.mailbox.view')">
                  <div class="mb-mail-date">10:30pm</div>
                  <img src="/theme_angle/app/img/user/11.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
                  <div class="pull-left">
                     <div class="mb-mail-from">Elizabeth Castillo</div>
                     <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
                  </div>
                  <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>