<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
    <h4 id="myModalLabel" class="modal-title">Gestion des groupes</h4>
</div>
<div class="modal-body">
    <form ng-action="addGroupSubmit()" autocomplete="off" name="Form" class="wh-cms">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <whform label="Choix du groupe : " ng-model="data.LdapGroup.id" options="groups" obj="true"></whform>
                </fieldset>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="addGroupSubmit()" class="btn btn-primary">OK</button>
    <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
</div>