// START Off Sidebar (right)
nav
  tabset(justified="true")
    tab
      tab-heading 
        em.icon-equalizer.fa-lg
      div(ng-include="'/theme_angle/app/views/partials/settings.html'")

    tab
      tab-heading
        em.icon-users.fa-lg
      div
        div(ng-include="'/theme_angle/app/views/partials/chat.html'")

// END Off Sidebar (right)