<p>Bonjour, <p>
<p>Vous avez reçu un nouveau message :</p>

<table>

	<?php foreach($Correspondances as $k => $v) { ?>

		<?php if(!isset(${$k})) continue; ?>

		<tr>
			<td align="left" ><p><?= $v; ?></p></td>
			<td><p><?= ${$k}; ?></p></td>
		</tr>

	<?php } ?>

</table>