<div ng-controller="AttributeFamiliesEditCtrl" >

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/attributes_families/index/">Liste des familles d'attributs</a></li>
    </ol>

    <h3 class="page-header mt0">
        <div class="pull-right">
            <a ng-click="newAttribute()" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Nouvel attribut</a>
        </div>
        <span>&nbsp;</span>
    </h3>

    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-6" >

            <form ng-submit="submit();">

                <div class="panel panel-info">

                    <div class="panel-body">

                        <fieldset>
                            <legend>Description</legend>
                            <whform label="Nom admin" ng-model="data.AttributeFamily.name_admin"></whform>
                            <whform label="Nom" ng-model="data.AttributeFamily.name"></whform>
                            <whform label="Famille parente" ng-model="data.AttributeFamily.parent_id" options="attributeFamiliesOptions" ></whform>
                            <whform label="Famille avec images" ng-model="data.AttributeFamily.speciale" tag="checkbox"></whform>
                            <whform ng-model="data.AttributeFamily.id" type="hidden" ></whform>
                        </fieldset>

                    </div>

                    <div class="panel-footer text-right">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

                </div>

            </form>

        </div>

        <div class="col-md-6">

            <form ng-submit="submitAttribute();" ng-show="data.Attribute" >

                <div class="panel panel-info">

                    <div class="panel-body">

                        <legend>Créer / Editer un attribut</legend>

                        <div class="row">

                            <div class="col-md-6">
                                <fieldset>
                                    <whform label="Nom" ng-model="data.Attribute.name"></whform>
                                    <whform label="Attribut parent" ng-model="data.Attribute.parent_id" options="attributesOptions" ></whform>
                                    <whform label="Code hexa" ng-model="data.Attribute.code_hexa"></whform>
                                    <whform ng-model="data.Attribute.id" type="hidden" ></whform>
                                </fieldset>
                            </div>

                            <div class="col-md-6">

                                <div id="panelVignette" class="panel panel-info" ng-controller="FileManagerController" tooltip="Il s’agit de l’image minigature utilisée dans les listes d’article.">
                                    <div class="panel-heading" >
                                        <i class="fa fa-picture-o"></i> Vignette
                                    </div>
                                    <div collapse="panelVignette" class="panel-wrapper">
                                        <div class="panel-body">
                                            <img ng-src="{{data.Attribute.vignette.File.url}}" alt="" ng-show="data.Attribute.vignette" style="width:100%;max-width:100%;" />
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="btn btn-sm btn-danger" ng-click="deleteFileManager('data.Attribute.vignette')" ng-show="data.Attribute.vignette"><i class="fa fa-trash-o"></i> Supprimer</a>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Attribute.vignette', 1)"><i class="fa fa-plus-square"></i> Ajouter une image</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div id="panelVignetteHover" class="panel panel-info" ng-controller="FileManagerController" tooltip="Il s’agit de l’image minigature utilisée dans les listes d’article.">
                                    <div class="panel-heading" >
                                        <i class="fa fa-picture-o"></i> Vignette
                                    </div>
                                    <div collapse="panelVignetteHover" class="panel-wrapper">
                                        <div class="panel-body">
                                            <img ng-src="{{data.Attribute.vignette_hover.File.url}}" alt="" ng-show="data.Attribute.vignette_hover" style="width:100%;max-width:100%;" />
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="btn btn-sm btn-danger" ng-click="deleteFileManager('data.Attribute.vignette_hover')" ng-show="data.Attribute.vignette_hover"><i class="fa fa-trash-o"></i> Supprimer</a>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Attribute.vignette_hover', 1)"><i class="fa fa-plus-square"></i> Ajouter une image</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="panel-footer text-right">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

                </div>

            </form>

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des attributs<span></div>

                <div class="table-responsive" >

                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">

                        <thead>
                            <tr>
                                <th style="width:150px;" >Action</th>
                                <th style="width:50px;" ></th>
                                <th>Nom</th>
                            </tr>
                        </thead>

                        <tbody ui-sortable="sortableAttributes" ng-model="attributes" >
                            <tr ng-repeat="attribute in attributes" >
                                <td>
                                    <a class="btn btn-primary btn-xs" ng-click="editAttribute(attribute.Attribute.id)"><i class="fa fa-edit"></i> Modifier</a>
                                    <a class="btn btn-danger btn-xs" ng-click="deleteAttribute(attribute.Attribute.id)"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>{{attribute.Attribute.id}}</td>
                                <td>{{attribute.Attribute.name}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>
</div>